@use "../index.scss";

.delete {
  background-color: var(--red);
}

.player {
  cursor: pointer;
  transition: .2s;
}

@media (pointer: fine) {
  .player:hover {
    background-color: var(--hoverColor);
    scale: 1.02;
  }
}

.player::before {
  content: 'X';
  color: var(--red);
  width: 10px;
}

.teamPlayer::before {
  content: '✓';
  color: green;
  font-weight: 900;
}

.delete {
  margin-top: 0;
}
