@use '../index.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.button:hover {
  scale: 1.02;
}

.error {
  margin-top: var(--gap);
  color: var(--red);
  text-align: center;
}
