.container {
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
}

.container>h1 {
    margin: 0;
}

.container>h2:not(.h2) {
    margin-bottom: 10px;
}

.player {
    display: flex;
    gap: 20px;
    position: relative;
}

.player>span:first-child::before {
    content: '#';
    position: absolute;
    left: 0;
}

.player>span:first-child {
    text-align: right;
    width: 28px;
}

.opponentCheckboxContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

.h2 {
    margin-bottom: 0;
}

.savedStatsContainer {
    display: flex;
    gap: 20px;
    overflow: scroll;
    padding: 16px 20px;
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}

.savedStatsContainer::-webkit-scrollbar {
    display: none;
}

.stat {
    min-width: 150px;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 0px 1.5px 5px 1px grey;
    transition: .2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    user-select: none;
}


.score {
    display: grid;
    font-size: 60px;
    grid-template-columns: 1fr .2fr 1fr;
    grid-auto-rows: 120px;
    place-items: center;
}

.opponentName {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    flex: 1;
    display: grid;
    place-items: center;
    position: relative;
    grid-template-columns: .2fr 1fr .2fr;
}

.icon {
    color: rgb(255, 49, 84);
    position: absolute;
    top: 5px;
    right: 5px;
    transition: .2s;
}

.opponentName::before {
    content: 'vs ';
    color: gray;
}

@media (pointer: fine) {
    .icon {
        opacity: 0;
    }
    
    .stat:hover .icon {
        opacity: 1;
    }

    .stat:hover {
        scale: 1.1;
    }
}
