@use "../index.scss";

.savedStatsContainer {
  display: flex;
  gap: var(--gap);
  overflow: scroll;
  margin: 0;
  padding: 16px var(--gap);
}

.savedStatsContainer::-webkit-scrollbar {
  display: none;
}

.stat {
  min-width: 150px;
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0px 1.5px 5px 1px grey;
  transition: .2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  user-select: none;
  text-wrap: nowrap;
}

.score {
  display: grid;
  font-size: 60px;
  grid-template-columns: 1fr .2fr 1fr;
  grid-auto-rows: 120px;
  place-items: center;
}

.opponentName {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  flex: 1;
  display: grid;
  place-items: center;
  position: relative;
  grid-template-columns: .2fr 1fr .2fr;
}

.icon {
  color: rgb(255, 49, 84);
  position: absolute;
  top: 5px;
  right: 5px;
  transition: .2s;
}

.opponentName::before {
  content: 'vs ';
  color: gray;
}

@media (pointer: fine) {
  .icon {
    opacity: 0;
  }

  .stat:hover .icon {
    opacity: 1;
  }

  .stat:hover {
    scale: 1.1;
  }

  .player {
    cursor: pointer;
    transition: .2s;
    // background-color: green;
    position: relative;

    &:not(:has(.XmarkLoanPlayer:hover)):hover {
      background-color: var(--hoverColor);
    }
  }
}

.input {
  position: relative;

  &:nth-child(1) {
    width: 28px;
  }

  &:nth-child(2) {
    text-align: left;
  }
}

.newLoanPlayer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: '#';
    position: absolute;
  }
}

.input {
  background-color: transparent;
  text-align: right;
}

.XmarkLoanPlayer {
  color: red;
  scale: 1.5;
  aspect-ratio: 1;
  position: absolute;
  right: 15px;
  border-radius: 5px;

  &:hover {
    background-color: #ff7791;
  }
}

.table {
  border-collapse: collapse;
  text-align: center;
}

.table tr td:last-child {
  font-weight: 900;
}

.ratioContainer>input {
  transform: translateY(2px);
}

.ratioContainer h3 {
  margin: 0;
  margin-top: 5px;
}
