.container {
    max-width: 500px; 
    min-width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border-radius: 10px;
    box-shadow: 0px 1.5px 5px 1px grey;
    overflow: hidden;
    margin-inline: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recordContainer {
    overflow: scroll;
}

.recordContainer::-webkit-scrollbar {
    display: none;
}

.header {
    font-size: 30px;
    box-shadow: 0 1px 5px 0px grey;
    background-color: white;
    z-index: 2;
    position: relative;
    min-height: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr .4fr 1fr;
}

.header>:nth-child(1) {
    justify-self: end;
}

.header>:not(:nth-child(1)) {
    color: lightgrey;
}

.header>:nth-child(3) {
    justify-self: start;
}

.record {
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: min-content;
    height: 35px;
    gap: 15px;
    box-sizing: border-box;
    cursor: pointer;
    place-items: center;
}

.record:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.record.selected {
    background-color: aquamarine;
}

.opponent {
    min-height: 35px;
    background-color: grey;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}


@media (pointer: fine) {
    .record:hover {
        background-color: aquamarine;
    }

    .opponent:hover {
        background-color: var(--hoverColor);
    }
}

.number {
    text-align: right;
    position: relative;
    width: 100%;

}

.number::after {
    content: '#';
    position: absolute;
    right: 17px;
}

.name {
    text-align: left;
    width: 100%;
}

.label {
    float: left;
    color: blueviolet;
    margin-left: 15px;
}

.continueButton {
    color: white;
    border-radius: 15px;
    background-color: rgb(100, 100, 255);
    box-shadow: 0px 1.5px 5px 1px grey;
    cursor: pointer;
    transition: .1s;
    z-index: 100;
    font-size: 15px;
    display: grid;
    place-items: center;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    /* left: 50%; */
    bottom: 20px;
    right: 20px;
    /* transform: translateX(-50%); */
    /* display: none; */
}

.continueButton:hover {
    scale: 1.1;
}
