@use 'variables' as v;

.container {
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  max-width: v.$maxWidth;
  width: 100%;
}

.container>h1 {
  margin-inline: auto;
}

.teamContainer {
  padding: 10px;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
}

.teamContainer::-webkit-scrollbar {
  display: none;
}

.close {
  min-height: 35px;
  display: grid;
  place-items: center;
  background-color: red;
  border-radius: 10px;
  margin-inline: 10px;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0px 1.5px 5px 1px grey;
  cursor: pointer;
}

@media (pointer: fine) {
  .continueButton:hover {
    scale: 1.1;
  }

  .score:hover {
    scale: 1.1;
  }

  .close:hover {
    background-color: rgb(255, 100, 100);
  }
}

.score {
  text-align: center;
  font-size: 50px;
  width: fit-content;
  align-self: center;
  display: grid;
  grid-template-columns: 50px auto 50px;
  cursor: pointer;
  transition: .2s;
  -webkit-tap-highlight-color: transparent;
}

.ratio {
  align-self: center;
}
