@use 'styles/variables' as v;

* {
  font-family: "Concert One";
  --green: rgb(255, 49, 84);
  --red: rgb(255, 49, 84);
  --hoverColor: aquamarine;
  -webkit-tap-highlight-color: transparent;
  --maxContainerWidth: 500px;
  --boxShadow: 0px 1.5px 5px 1px grey;
  --borderRadius: 15px;
  --gap: 20px;
}

*::-webkit-scrollbar {
  display: none;
}

select {
  height: 30px;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>.input {
    font-size: inherit;

  }
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: scroll;
  max-height: 100%;
  box-sizing: border-box;
}

#root {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.container {
  background-color: white;
  max-width: var(--maxContainerWidth);
  margin-inline: auto;
  margin-bottom: var(--gap);
  padding-bottom: var(--gap);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.container>* {
  margin-inline: var(--gap);
}

@media (min-width: v.$maxWidth) {
  .container {
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    margin-top: var(--gap);
  }
}
@media (max-width: v.$maxWidth) {
  .container {
    padding-top: var(--gap);
  }
}

.button {
  width: max-content;
  border: 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1.5px 5px 1px grey;
  background-color: rgb(100, 100, 255);
  color: white;
  cursor: pointer;
  transition: .2s;
  height: 35px;
  padding-inline: 10px;
  margin-top: var(--gap);
}

.player {
  height: 35px;
  display: flex;
  gap: var(--gap);
  align-items: center;
  padding-left: 15px;
  border-radius: 15px;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

.player>span:first-child {
  width: 28px;
  text-align: right;
  position: relative;
}

.player>span:first-child::before {
  content: '#';
  position: absolute;
  left: 0;
}

.player:nth-last-child(1 of .player) {
  margin-bottom: 0;
}

@media (pointer: fine) {
  .button:hover {
    scale: 1.1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid;
  font-size: 16px;
  padding: 0;
  outline: none;
}
